<div class="container__big-card">

    <div class="big-card__photo">
        <img src="{{photoCover}}"
         alt=""
         height="400px"
         srcset=""
         >
    </div>
    <div class="big-card__title">
        <h1><a [routerLink]="['content', Id]">{{cardTitle}}</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a [routerLink]="['content', Id]">{{cardDescription}}
                Mergulhe em uma experiência gastronômica incomparável, onde o aroma sedutor de carnes grelhadas paira no ar e a chama dança em perfeita harmonia com o sabor. Nossa churrascaria é o destino para os verdadeiros apreciadores de churrasco, onde os cortes mais nobres são cuidadosamente selecionados e preparados para a perfeição. 
                De suculentas picanhas a costelas macias e saborosas, cada prato é uma celebração do fogo, da paixão e da tradição. Junte-se a nós e deixe-se envolver pela experiência única do Brasa & Sabor, onde cada mordida é uma jornada ao coração do verdadeiro sabor do churrasco.
            </a>
        </p>
    </div>
</div>
