.container__small-card {
    width: 700px;
    margin-bottom: 15px;
    }

.small-card__photo > img {
    width: 300px;
    min-width: 300px;
    margin-right: 20px;
}

.small-card__title {
    display: flex;
    font-size: 11px;
    justify-content:center;
    align-items: center;
    text-align: justify;
    
}
    
 .container__small-card-content{
    display: flex;
    flex-direction: row;
}

.container__small-card-separator {
    margin-top: 10px;
}

